{% extends 'base.html.twig' %}

{% block title %}Plats{% endblock %}

{% block body %}

 <div class="container text-center mt-5">
  <h1 class="text-center text-primary ty-4"> Nos Plats </h1>
        <div class="row justify-content-center ">
    {% for plat in plats %}
    
        <div class="card col-justify-content  col-sm-6 col-md-4 my-5">
            <img src="{{ asset('assets/img/category/' ~ plat.image) }}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{ plat.libelle }}</h5>
            <a href="{{path('detail', {id: plat.id})}}"><small class="card-text " >Cliquer pour plus de détails</small> </a>
            <p class="#">{{ plat.prix}}</p> 
            <label  class="card-text h5 " >Quantité</label>
            <input type="number" class="quantite text-center" placeholder="0" name="quantite" >
            <a href="#" class="btn btn-primary mx-3">Ajouter au panier</a>
        </div>
            </div>
    {% endfor %}
       </div>
    </div>

 
            
  
           
{% endblock %}
